[submodule "code/pico/pico-sdk"]
	path = code/pico/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "code/pc/src/gui/SDL"]
	path = code/pc/src/gui/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "code/pc/src/gui/SDL_ttf"]
	path = code/pc/src/gui/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
[submodule "code/pc/src/gui/cglm"]
	path = code/pc/src/gui/cglm
	url = https://github.com/recp/cglm.git
[submodule "code/pico/picotool"]
	path = code/pico/picotool
	url = https://github.com/raspberrypi/picotool.git
